@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
}
.section-chamativa{
    background-color: #27ABBF;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.trilhe,
.caminho{
    font-size: 1.5rem;
    font-weight: bold;
}
.title{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}
.imagem_fundo{
    width: 90%;
}

.login{
    border-radius: 10px;
    padding: .5rem;
    width: 35%;
    height: 80%;
    margin: 0 auto;
    background-color: #27ABBF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}

h1{
    color: #fff;
}

.button-outlook{
    background-color: rgb(36, 36, 138);
    text-align: center;
    color: #fff;
    display: flex;
    gap: 1rem;
    padding: .5rem;
    cursor: pointer;
}

.form_login{
    display: flex;
    flex-direction: column;
    width: 75%;

}
label{
    color: #fff;
    margin-top: 1.5rem;
    font-weight: 450;
}
input{
    height: 3rem;
    border:  none;
    padding: 0 .5rem;
    border-radius: 7px;
}

.button_entrar{
    margin: 2rem auto;
    display: flex;

    color: #27ABBF;
    text-decoration: none;
    text-align: center;

    align-items: center;
    justify-content: center;

    width: 55%;
    height: 2.5rem;
    background-color: #fff;
    border-radius: 18px;
}

.button_entrar:hover{
    transition:.4s;
    color: #fff;
    background-color: #a0a0a0;
}